APP_NAME=NewsLens AI API
APP_VERSION=1.0.0

API_PREFIX=/api

ENVIRONMENT=development
DEBUG=true
TESTING=false

HOST=127.0.0.1
PORT=8000

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/newslens

NEWS_API_KEY=08bd4248153d417d93924158b5249d15
NEWS_API_URL=https://newsapi.org/v2

SECRET_KEY=L80UvIqcRrICd8C4BlxSohgFNrow_R3Od4EdXofittv_X8iLZUvgGaWTjwAEfj9phECLYn787PoJQJVTV9xZw

ACCESS_TOKEN_EXPIRE_MINUTES=60

LOG_LEVEL=INFO

RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=

EMAIL_FROM=NewsLens AI <noreply@example.com>

CORS_ORIGINS=["http://localhost:5173"]
TRUSTED_HOSTS=["localhost","127.0.0.1"]
